<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

  <display-name>Archetype Created Web Application</display-name>
   <welcome-file-list> 
       <welcome-file>Login.jsp</welcome-file>  
   </welcome-file-list> 
  
  <!--? Definición del servlet ReverseLogic -->
  <servlet> 
    <servlet-name>ReverseLogic</servlet-name> 
    <servlet-class>ReverseLogic</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>ReverseLogic</servlet-name> 
    <url-pattern>/ReverseLogic</url-pattern>  
  </servlet-mapping> 

  <!--? Definición del servlet Empleado -->
  <servlet> 
    <servlet-name>Empleado</servlet-name> 
    <servlet-class>Empleado</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Empleado</servlet-name> 
    <url-pattern>/Empleado</url-pattern>  
  </servlet-mapping> 


    <!--? Definición del servlet Cliente -->
  <servlet> 
    <servlet-name>Cliente</servlet-name> 
    <servlet-class>Cliente</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Cliente</servlet-name> 
    <url-pattern>/Cliente</url-pattern>  
  </servlet-mapping> 

   <!--? Definición del servlet Usuario -->
  <servlet> 
    <servlet-name>Usuario</servlet-name> 
    <servlet-class>Usuario</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Usuario</servlet-name> 
    <url-pattern>/Usuario</url-pattern>  
  </servlet-mapping> 

   <!--? Definición del servlet Devolucion -->
  <servlet> 
    <servlet-name>Devolucion</servlet-name> 
    <servlet-class>Devolucion</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Devolucion</servlet-name> 
    <url-pattern>/Devolucion</url-pattern>  
  </servlet-mapping> 

     <!--? Definición del servlet Venta -->
  <servlet> 
    <servlet-name>Venta</servlet-name> 
    <servlet-class>Venta</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Venta</servlet-name> 
    <url-pattern>/Venta</url-pattern>
  </servlet-mapping>

       <!--? Definición del servlet Prenda -->
  <servlet> 
    <servlet-name>Prenda</servlet-name> 
    <servlet-class>Prenda</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Prenda</servlet-name> 
    <url-pattern>/Prenda</url-pattern>  
  </servlet-mapping> 

         <!--? Definición del servlet Color -->
  <servlet> 
    <servlet-name>Color</servlet-name> 
    <servlet-class>Color</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Color</servlet-name> 
    <url-pattern>/Color</url-pattern>  
  </servlet-mapping> 

           <!--? Definición del servlet Metodo De Pago -->
  <servlet> 
    <servlet-name>MetodoDePago</servlet-name> 
    <servlet-class>MetodoDePago</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>MetodoDePago</servlet-name> 
    <url-pattern>/MetodoDePago</url-pattern>  
  </servlet-mapping> 

             <!--? Definición del servlet Detalles-->
  <servlet> 
    <servlet-name>Detalles</servlet-name> 
    <servlet-class>Detalles</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Detalles</servlet-name> 
    <url-pattern>/Detalles</url-pattern>  
  </servlet-mapping> 

               <!--? Definición del servlet Material-->
  <servlet> 
    <servlet-name>Material</servlet-name> 
    <servlet-class>Material</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Material</servlet-name> 
    <url-pattern>/Material</url-pattern>  
  </servlet-mapping> 

  
               <!--? Definición del servlet CerrarSesion -->
  <servlet> 
    <servlet-name>CerrarSesion</servlet-name> 
    <servlet-class>CerrarSesion</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>CerrarSesion</servlet-name> 
    <url-pattern>/CerrarSesion</url-pattern>  
  </servlet-mapping> 

                 <!--? Definición del servlet Reportes -->
  <servlet> 
    <servlet-name>Reportes</servlet-name> 
    <servlet-class>Reportes</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>Reportes</servlet-name> 
    <url-pattern>/Reportes</url-pattern>  
  </servlet-mapping> 

                   <!--? Definición del servlet PrendasEmple -->
  <servlet> 
    <servlet-name>PrendasEmple</servlet-name> 
    <servlet-class>PrendasEmple</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>PrendasEmple</servlet-name> 
    <url-pattern>/PrendasEmple</url-pattern>  
  </servlet-mapping>

                     <!--? Definición del servlet DevolucionEmple -->
  <servlet> 
    <servlet-name>DevolucionEmple</servlet-name> 
    <servlet-class>DevolucionEmple</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>DevolucionEmple</servlet-name> 
    <url-pattern>/DevolucionEmple</url-pattern>  
  </servlet-mapping>
  
                       <!--? Definición del servlet ProductoEmple -->
  <servlet> 
    <servlet-name>ProductoEmple</servlet-name> 
    <servlet-class>ProductoEmple</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>ProductoEmple</servlet-name> 
    <url-pattern>/ProductoEmple</url-pattern>  
  </servlet-mapping>
    
                       <!--? Definición del servlet ventaEmple -->
  <servlet> 
    <servlet-name>VentaEmple</servlet-name> 
    <servlet-class>VentaEmple</servlet-class> 
  </servlet> 
  
  <servlet-mapping> 
    <servlet-name>VentaEmple</servlet-name> 
    <url-pattern>/VentaEmple</url-pattern>  
  </servlet-mapping>

</web-app>
